section.categories

    a.categories__item.vertical(href='#')
        .categories__title A-100 Девелопмент
        img.lazy(data-src='./img/categories/ms-1.jpg')
        p.categories__descr Центр бытовых услуг «Астокомфорт» —  Это ведущая компания по оказанию ремонтных, сантехнических и электромонтажных работ.


    a.categories__item(href='#')
        .categories__title A-100 комфорт
        img.lazy(data-src='./img/categories/ms-2.jpg')
        p.categories__descr Центр бытовых услуг «Астокомфорт» —  Это ведущая компания по оказанию ремонтных, сантехнических и электромонтажных работ.


    a.categories__item(href='#')
        .categories__title Завод СБК
        img.lazy(data-src='./img/categories/ms-3.jpg')
        p.categories__descr Центр бытовых услуг «Астокомфорт» —  Это ведущая компания по оказанию ремонтных, сантехнических и электромонтажных работ.

    a.categories__item.horizontal(href='#')
        .categories__title Жилая и коммерческая <br> недвижимость
        img.lazy(data-src='./img/categories/ms-4.jpg')
        p.categories__descr Центр бытовых услуг «Астокомфорт» —  Это ведущая компания по оказанию ремонтных, сантехнических и электромонтажных работ.