section.footer
    iframe.footer__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1395.5291730623655!2d27' +
    '.64672793931437!3d53.96742828627321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13' +
    '.1!3m3!1m2!1s0x46dbc8c63903cff7%3A0x2710bdfeb76537db!2sBorovaya%20223053!5e0!3m2!1sru!2sby!4v1604943696159!5m2' +
    '!1sru!2sby')(width="600")(height="450")(frameborder="0")(style="border:0;")(allowfullscreen="")(aria-hidden="false")(tabindex="0")

    .footer__contacts
        .title.title_footer Контакты
        <hr>

        .footer__item
            .footer__header
                .footer__name А-100 девелопмент
                img.lazy.footer__arrow(data-src="img/svg/ar-down.svg")(alt="arrow")

            .footer__more.hidden
                .footer__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
                .footer__phones
                    a(href="#").footer__phone + 375 17 513-20-40
                    a(href="#").footer__phone + 375 17 513-20-53
                .more.more_contacts Больше контактов

        .footer__item
            .footer__header
                .footer__name А-100 риэл
                img.lazy.footer__arrow(data-src="img/svg/ar-down.svg")(alt="arrow")

            .footer__more.hidden
                .footer__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
                .footer__phones
                    a(href="#").footer__phone + 375 17 513-20-40
                    a(href="#").footer__phone + 375 17 513-20-53
                .more.more_contacts Больше контактов

        .footer__item
            .footer__header
                .footer__name А-100 девелопмент
                img.lazy.footer__arrow(data-src="img/svg/ar-down.svg")(alt="arrow")

            .footer__more.hidden
                .footer__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
                .footer__phones
                    a(href="#").footer__phone + 375 17 513-20-40
                    a(href="#").footer__phone + 375 17 513-20-53
                .more.more_contacts Больше контактов

        .footer__item
            .footer__header
                .footer__name А-100 риэл
                img.lazy.footer__arrow(data-src="img/svg/ar-down.svg")(alt="arrow")

            .footer__more.hidden
                .footer__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
                .footer__phones
                    a(href="#").footer__phone + 375 17 513-20-40
                    a(href="#").footer__phone + 375 17 513-20-53
                .more.more_contacts Больше контактов

    .slider
        button#prev.slider__btn.prev
            img.footer__slider-img(src="icn/slick-left.svg")(alt="Prev")

        button#next.slider__btn.next
            img.footer__slider-img(src="icn/slick-right.svg")(alt="Next")

        .slider__item
            h3.slider__header Жилая и коммерческая недвижимость
            iframe.slider__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1395.5291730623655!2d27' +
            '.64672793931437!3d53.96742828627321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13' +
            '.1!3m3!1m2!1s0x46dbc8c63903cff7%3A0x2710bdfeb76537db!2sBorovaya%20223053!5e0!3m2!1sru!2sby!4v1604943696159!5m2' + '!1sru!2sby')(width="600")(height="450")(frameborder="0")(style="border:0;")(allowfullscreen="")(aria-hidden="false")(tabindex="0")
            .slider__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
            .slider__phones
                .slider__phone(href="#") + 375 17 513-20-40
                .slider__phone(href="#") + 375 17 513-20-53
            a(href="#").more.more_slider Больше контактов

        .slider__item
            h3.slider__header Жилая недвижимость
            iframe.slider__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1395.5291730623655!2d27' +
            '.64672793931437!3d53.96742828627321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13' +
            '.1!3m3!1m2!1s0x46dbc8c63903cff7%3A0x2710bdfeb76537db!2sBorovaya%20223053!5e0!3m2!1sru!2sby!4v1604943696159!5m2' + '!1sru!2sby')(width="600")(height="450")(frameborder="0")(style="border:0;")(allowfullscreen="")(aria-hidden="false")(tabindex="0")
            .slider__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
            .slider__phones
                .slider__phone(href="#") + 375 17 513-20-40
                .slider__phone(href="#") + 375 17 513-20-53
            a(href="#").more.more_slider Больше контактов

        .slider__item
            h3.slider__header Больше контактов
            iframe.slider__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1395.5291730623655!2d27' +
            '.64672793931437!3d53.96742828627321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13' +
            '.1!3m3!1m2!1s0x46dbc8c63903cff7%3A0x2710bdfeb76537db!2sBorovaya%20223053!5e0!3m2!1sru!2sby!4v1604943696159!5m2' + '!1sru!2sby')(width="600")(height="450")(frameborder="0")(style="border:0;")(allowfullscreen="")(aria-hidden="false")(tabindex="0")
            .slider__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
            .slider__phones
                .slider__phone(href="#") + 375 17 513-20-40
                .slider__phone(href="#") + 375 17 513-20-53
            a(href="#").more.more_slider Больше контактов


.footer__copyright
    .footer__copyright-info © Любая информация, представленная на данном сайте, носит исключительно информационный характер и ни при каких условиях не является публичной офертой.
    .footer__copyright-link Разработка сайта:
        a(href="#") &nbspМедиа Лайн