section.footer
    iframe.footer__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1395.5291730623655!2d27' +
    '.64672793931437!3d53.96742828627321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13' +
    '.1!3m3!1m2!1s0x46dbc8c63903cff7%3A0x2710bdfeb76537db!2sBorovaya%20223053!5e0!3m2!1sru!2sby!4v1604943696159!5m2' +
    '!1sru!2sby')(width="600")(height="450")(frameborder="0")(style="border:0;")(allowfullscreen="")(aria-hidden="false")(tabindex="0")

    .footer__contacts
        .title.title_footer Контакты
        <hr>

        .footer__item
            .footer__header
                .footer__name А-100 девелопмент
                img.lazy.footer__arrow(data-src="img/svg/ar-down.svg")(alt="arrow")

            .footer__more.hidden
                .footer__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
                .footer__phones
                    a(href="#").footer__phone + 375 17 513-20-40
                    a(href="#").footer__phone + 375 17 513-20-53
                .more.more_contacts Больше контактов

        .footer__item
            .footer__header
                .footer__name А-100 риэл
                img.lazy.footer__arrow(data-src="img/svg/ar-down.svg")(alt="arrow")

            .footer__more.hidden
                .footer__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
                .footer__phones
                    a(href="#").footer__phone + 375 17 513-20-40
                    a(href="#").footer__phone + 375 17 513-20-53
                .more.more_contacts Больше контактов

        .footer__item
            .footer__header
                .footer__name А-100 девелопмент
                img.lazy.footer__arrow(data-src="img/svg/ar-down.svg")(alt="arrow")

            .footer__more.hidden
                .footer__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
                .footer__phones
                    a(href="#").footer__phone + 375 17 513-20-40
                    a(href="#").footer__phone + 375 17 513-20-53
                .more.more_contacts Больше контактов

        .footer__item
            .footer__header
                .footer__name А-100 риэл
                img.lazy.footer__arrow(data-src="img/svg/ar-down.svg")(alt="arrow")

            .footer__more.hidden
                .footer__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
                .footer__phones
                    a(href="#").footer__phone + 375 17 513-20-40
                    a(href="#").footer__phone + 375 17 513-20-53
                .more.more_contacts Больше контактов




    .mobile-contacts
        h2.mobile-contacts__header Контакты
        .slider
            .slider__item
                h3.slider__header Жилая и коммерческая недвижимость
                iframe.slider__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1395.5291730623655!2d27' +
                '.64672793931437!3d53.96742828627321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13' +
                '.1!3m3!1m2!1s0x46dbc8c63903cff7%3A0x2710bdfeb76537db!2sBorovaya%20223053!5e0!3m2!1sru!2sby' +
                '!4v1604943696159!5m2' + '!1sru!2sby')(width="100%")(height="500px")(frameborder="0")(style="border:0;")(allowfullscreen="")(aria-hidden="false")(tabindex="0")
                .slider__info-wrapper
                    .slider__descr Республика Беларусь, 223039, Минская обл., Минский р-н, Хатежинский с/с, район деревни д. Таборы, 29/1, Здание АКБ.
                    .slider__phones
                        .slider__phone(href="#") +375 17 513-20-40
                    a(href="#").more.more_slider Больше контактов

            .slider__item
                h3.slider__header Жилая недвижимость
                iframe.slider__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2347.819647394489!2d27' +
                '.66350991599396!3d53.95271113681941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13' +
                '.1!3m3!1m2!1s0x46dbc92c8bb7b9a1%3A0x66deabea94dd77e!2z0YPQuy4g0JvQtdC' +
                '-0L3QsNGA0LTQviDQtNCwINCS0LjQvdGH0LggMiwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1609686913997!5m2!1sru' +
                '!2sby')(width="100%")(height="500px")(frameborder="0")(style="border:0;")(allowfullscreen="")(aria-hidden="false")(tabindex="0")
                .slider__info-wrapper
                    .slider__descr Минский район, Минская область, д. Копище ул. Леонардо да Винчи, 2 (цокольный этаж)
                    .slider__phones
                        .slider__phone(href="#") +375 29 616-11-00
                    a(href="#").more.more_slider Больше контактов

            .slider__item
                h3.slider__header Коммерческая недвижимость
                iframe.slider__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2346.85708033591!2d27' +
                '.648464115994457!3d53.96980563552894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13' +
                '.1!3m3!1m2!1s0x46dbc8c4a4c9f843%3A0xb897a64f7b53bcfb' +
                '!2z0JHQvtGA0L7QstCw0Y8g0YPQuy4gNywg0JLQsNC70LXRgNGM0Y_QvdC-0LLQviAyMjMwNTM!5e0!3m2!1sru!2sby' +
                '!4v1609687124307!5m2!1sru!2sby')(width="100%")(height="500px")(frameborder="0")(style="border:0;")(allowfullscreen="")(aria-hidden="false")(tabindex="0")
                .slider__info-wrapper
                    .slider__descr 223053, Минский р-н, д. Боровая, 7
                    .slider__phones
                        .slider__phone(href="#") +375 29 623 33 33
                        .slider__phone(href="#") +375 29 773 30 33
                    a(href="#").more.more_slider Больше контактов


.footer__copyright
    .footer__copyright-info © Любая информация, представленная на данном сайте, носит исключительно информационный характер и ни при каких условиях не является публичной офертой.
    .footer__copyright-link Разработка сайта:
        a(href="#") &nbspМедиа Лайн