.mobile
    nav
        ul.mobile__menu
            <hr>
            li.mobile__item
                a(href="#") О компании
            li.mobile__item
                a(href="#") Проекты
            li.mobile__item
                a(href="#") Арендаторам
            li.mobile__item
                a(href="#") Карта лояльности
            li.mobile__item
                a(href="#") Пресс-центр
            li.mobile__item
                a(href="#") Контакты
            <hr>
            button.mobile__btn Предложить земельный участок
