.mobile
    nav
        .mobile__menu
            ul
                li.mobile__item
                    a(href="#") О компании
                li.mobile__item
                    a(href="#") Проекты
                li.mobile__item
                    a(href="#") Арендаторам
                li.mobile__item
                    a(href="#") Карта лояльности
                li.mobile__item
                    a(href="#") Пресс-центр
                li.mobile__item
                    a(href="#") Контакты

            button.mobile__btn Предложить земельный участок

            .mobile__social
                a(href='#').mobile__link
                    +icon('fb')
                a(href='#').mobile__link
                    +icon('insta')
