section.news
    .news__main
        h2.title Новости компании
        a(href="#").more Смотреть все новости
        .news__wrapper

            a(href="#").news__item
                img.lazy(data-src="./img/news/news-item-1.jpg")(alt="Photo").news__img
                .date.date_main 28.01.2020
                .news__descr Крупная сделка в недвижимости: группа компаний «А-100» приобрела завод железобетонных конструкций

            a(href="#").news__item
                img.lazy(data-src="./img/news/news-item-2.jpg")(alt="Photo").news__img
                .date.date_main 12.12.2019
                .news__descr 1 строчка заголовка.

            a(href="#").news__item
                img.lazy(data-src="./img/news/news-item-3.jpg")(alt="Photo").news__img
                .date.date_main 25.01.2020
                .news__descr А-100 Девелопмент — победитель конкурса «бренд года 2019»

            a(href="#").news__item
                img.lazy(data-src="./img/news/news-item-4.jpg")(alt="Photo").news__img
                .date.date_main 20.01.2020
                .news__descr В проектах «А-100 Девелопмент» появились умные квартиры с решением от Яндекса

        a.news__more-main Все новости


    .news__side
        .news__side-item
            .date 14.11.2019
            a(href="#").news__side-descr «А-100 Девелопмент» удостоена премии в области социальной ответственности «За новые ответственные практики ведения бизнеса»

        .news__side-item
            .date 14.11.2019
            a(href="#").news__side-descr Звезда мирового дизайна Карим Рашид наградил два проекта «А-100 Девелопмент»

        .news__side-item
            .date 18.09.2019
            a(href="#").news__side-descr 1 строчка заголовка. 1 строчка заголовка. 1 строчка

        .news__side-item
            .date 28.11.2018
            a(href="#").news__side-descr Детские сады Новой Боровой заняли призовые места на международном конкурсе

        .news__side-item
            .date 28.11.2019
            a(href="#").news__side-descr «А-100 Девелопмент» удостоена премии в области социальной ответственности «За новые ответственные практики ведения бизнеса»

        .news__side-item
            .date 14.11.2019
            a(href="#").news__side-descr Звезда мирового дизайна Карим Рашид наградил два проекта «А-100 Девелопмент»

        a(href="#").news__btn-more Все новости