.burger {
  display: none;
  right: 20px;
  top: 37%;
  width: 29px;
  height: 23px;
  cursor: pointer;
  position: absolute;
  span {
    display: block;
    height: 1px;
    width: 100%;
    background-color: $dark-grey;
    margin-bottom: 10px;
    transition: 0.5s all;
  }
  @include xmd-block(){
    display: block;
  }
  &_active {
    span {
      margin-bottom: -2px;
      &:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: translateY(3px) rotate(45deg);
      }
    }
  }
}

.mobile {
  display: none;
  @include xmd-block(){
    display: block;
  }

  nav {
    position: relative;
  }

  &__social {
    display: none;

    @include xxs-block() {
      display: flex;
      width: 52px;
      justify-content: space-between;


    }
  }

  &__link {
    display: flex;
    align-items: center;

    &:hover {
      .icon {
        fill: $main-green;
      }
    }
    .icon {
      height: 16px;
      transition: 0.3s all;

      @include xmd-block() {
        height: 20px;
      }
    }
  }



  &__menu {
    list-style-type: none;
    height: auto;
    text-align: left;
    margin-top: 0;
    position: fixed;
    background-color: #ffffff;
    z-index: 3;
    top: -100%;
    transition: 0.7s all;
    width: 100%;
    border-top: 1px solid #EEEEEE;
    padding: 20px 0 35px 0;

    ul {
      border-bottom: 1px solid #EEEEEE;
      padding: 0 30px 30px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 300px;
    }

    a {
      text-decoration: none;
      font-size: 16px;
    }


    &_active {
      top: 85px;
    }
  }

  &__btn {
    width: 256px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-green;
    color: #ffffff;
    border: none;
    font-size: 15px;
    margin: 20px auto 0 auto;
  }
}