extends ../layout/main

block variables
    - var title = 'А-100 ДЕВЕЛОПМЕНТ';

block libs-css
    link(rel="stylesheet" type='text/css' href="./css/main.css")
block libs-js
    script(async src="./libs/jquery.mCustomScrollbar.concat.min.js")

block content
    include ../modules/header
    main
        include ../modules/categories
        include ../modules/news
        include ../modules/footer
        include ../modules/mobile-menu